.jobCard-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.jobCard-company{
    grid-area: 1 / 1 / 2 / 2;
}
.jobCard-salary{
    grid-area: 1 / 2 / 2 / 3;
}

.jobCard-city{
    grid-area: 1 / 3 / 2 / 4;
}

.jobCard-Applybtn{
    grid-area: 1 / 4 / 2/ 5
}