@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PrimaryDark: #12232e;
  --PrimaryLight: #007cc7;
  --Secondary: #4da8da;
  --NeutralDark: #203647;
  --NeutralLight: #eefbfb;
  --BaseWhite: #ffffff;
  --BaseBlack: #1c1b1a;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--BaseWhite);
  color: var(--BaseBlack);
}